
html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
}
html{
  /* background-image: url(https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg?cs=srgb&dl=pexels-jess-bailey-designs-1007025.jpg&fm=jpg); */
  background-image: url(../PHOTOES/loginpage.jpeg);
  background-size: 1550px;
  background-repeat: no-repeat;
  
}

body{
  margin-top: 5em;
  width: fit-content;
  background-color: purple;
}

form {
  /* margin-top: 2em; */
  /* margin-bottom: 2em; */
  margin: 0;
  border: 5px solid #f1f1f1;
  width: 98%;
  background-color: white;
}

input[type = "email"],
input[type="password"] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="text"]{
  width: 49%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0275d8;
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grabbing;
  width: 100%;
}

h1,h2 {
  text-align: center;
  font-size: 18;
}
button:hover {
  opacity: 0.8;
}

.formcontainer {
  border-top: 1px solid #ccc;
  text-align: left;
  margin: 24px 50px 12px;
}

.container {
  padding: 16px 0;
  text-align: left;
}
span.psw {
  float: right;
  padding-top: 0;
  padding-right: 15px;
}

.flag{
  background-color: #67db67;
  text-align: center;
}

.none{
  display: none;
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

@media screen and (max-width: 650px) {
  input[type="text"]{
    width: 100%;
    display: block;
  }
}